@keyframes dead {
    100%  {
        margin-top: -100%;
        opacity: 0;
        }
}

md-grid-tile {
  background-color:rgb(27,29,28);
}

.matrix {
    max-width: 400px;
    min-width: 200px;
    margin:auto;
    margin-top: 15px;
}

.cell {
    border: 1px solid rgb(73,75,74);
}

.snake {
    background-image: url('/assets/rect.png');
    background-position: 50% 50%;
    background-size: 300%;
}

.apple {
    background-image: url('/assets/apple.png');
    background-position: 50% 50%;
    background-size: 300%;
}

.button_layer {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: 1;
    border: 1px solid rgba(255, 255, 255, 0.3);
    max-height:400px;
    min-height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_layer button {
	top: -60%;
	left: 0%;
	position: relative;
	width: 60px;
	height: 60px;
	border-radius: 30px;
    margin:auto;
    margin-top:100%;
}

.hide {
	display:none;
}

.pause {
    background-color: rgb(255,255,255);
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    bottom: 2%;
    left: 2%;
}

.pause .mat-icon.material-icons {
    padding: 0.25rem;
}

.dead {
    color: red;
    text-transform: uppercase;
    animation-name: dead;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-delay: 1s;
}

.direction_buttons {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    height: 9rem;
    flex-wrap:wrap;
}

.left, .right {
    margin:auto;
    margin-bottom:3rem;
    margin-left: 0.5rem;
}

.left {
    margin-left:auto;
    margin-right: 0.5rem;
}

.up {
    margin-bottom: 0.2rem;
}

@media (min-width: 400px) {
  md-grid-list {
    padding-bottom: 400px !important;
  }
}

@media (max-width: 200px) {
  md-grid-list {
    padding-bottom: 200px !important;
  }
}