<md-grid-list cols="{{cols}}" rowHeight="1:1" class="matrix"
    (swipeleft)="changeDir('left')"
    (swiperight)="changeDir('right')"
    (swipeup)="changeDir('up')"
    (swipedown)="changeDir('down')">
    <div class="button_layer" #buttonLayer 
        [ngClass]="{'hide': !buttonLayerVisible}">
        <button md-fab class="new" 
            (click)="gameStart($event)"
            [ngClass]="{'hide': isPlay}">
            <md-icon aria-hidden="true">play_arrow</md-icon><span class="cdk-visually-hidden">New game</span>
        </button>
        <button md-fab class="resume" 
            (click)="gameResume($event)"
            [ngClass]="{'hide': !isPause}">
            <md-icon aria-hidden="true">pause</md-icon><span class="cdk-visually-hidden">Resume</span>
        </button>
        <div class="dead" #death
            [ngClass]="{'hide': !isDead}">
            <span>Snake is DEAD!</span>
        </div>
    </div>
    <md-grid-tile *ngFor="let item of matrixBody; let i = index" 
                    class="cell"
                    [ngClass]="{'snake': isSnake(i), 'apple': isApple(i)}">
    </md-grid-tile>
    <a class="pause" 
            (click)="gameResume($event)"
            [ngClass]="{'hide': !isPlay || isPause || isDead}">
            <md-icon aria-hidden="true">pause</md-icon><span class="cdk-visually-hidden">Pause</span>
    </a>
</md-grid-list>
<div class="direction_buttons">
    <button md-fab class="left" (click)="changeDir('left')">
        <md-icon aria-hidden="true">keyboard_arrow_left</md-icon><span class="cdk-visually-hidden">Left</span>
    </button>
    <button md-fab class="up" (click)="changeDir('up')">
        <md-icon aria-hidden="true">keyboard_arrow_up</md-icon><span class="cdk-visually-hidden">Up</span>
    </button>
    <button md-fab class="down" (click)="changeDir('down')">
        <md-icon aria-hidden="true">keyboard_arrow_down</md-icon><span class="cdk-visually-hidden">Down</span>
    </button>
    <button md-fab class="right" (click)="changeDir('right')">
        <md-icon aria-hidden="true">keyboard_arrow_right</md-icon><span class="cdk-visually-hidden">Right</span>
    </button>
</div>