md-grid-tile {
  background-color:rgb(27,29,28);
}

.matrix {
    max-width: 400px;
    min-width: 200px;
    margin:auto;
    margin-top: 15px;
}

.cell {
    border: 1px solid rgb(73,75,74);
}

.snake {
    background-image: url('/assets/rect.png');
    background-position: 50% 50%;
    background-size: 300%;
}

.apple {
    background-image: url('/assets/apple.png');
    background-position: 50% 50%;
    background-size: 300%;
}

.button_layer {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: 1;
    border: 1px solid rgba(255, 255, 255, 0.3);
    max-height:400px;
    min-height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_layer button {
	top: -60%;
	left: 0%;
	position: relative;
	width: 60px;
	height: 60px;
	border-radius: 30px;
    margin:auto;
    margin-top:100%;
}

.hide {
	display:none;
}