<md-grid-list cols="{{cols}}" rowHeight="1:1" class="matrix"
    (swipeleft)="swipe($event.type)"
    (swiperight)="swipe($event.type)"
    (swipeup)="swipe($event.type)"
    (swipedown)="swipe($event.type)">
    <div class="button_layer" #buttonLayer 
        [ngClass]="{'hide': !buttonLayerVisible}">
        <button md-fab class="new" 
            (click)="gameStart($event)"
            [ngClass]="{'hide': isPlay}">
            <md-icon aria-hidden="true">play_arrow</md-icon><span class="cdk-visually-hidden">New game</span>
        </button>
        <button md-fab class="resume" 
            (click)="gameResume($event)"
            [ngClass]="{'hide': !isPause}">
            <md-icon aria-hidden="true">pause</md-icon><span class="cdk-visually-hidden">Resume</span>
        </button>
        <div class="dead" #death
            [ngClass]="{'hide': !isDead}">
            <span>Snake is DEAD!</span>
        </div>
    </div>
    <md-grid-tile *ngFor="let item of matrixBody; let i = index" 
                    class="cell"
                    [ngClass]="{'snake': isSnake(i), 'apple': isApple(i)}">
    </md-grid-tile>
</md-grid-list>